@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  width: 100%;
}

#Profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  height: 564px;
  width: 250px;
  border: 1px solid black;
}
#Profile .profile_picture img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

#Profile h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
}

#Profile h4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Profile main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

#Profile main #button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

#Profile main #button button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 5px 10px;
  color: #fff;
  background-color: rgb(88, 88, 219);
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 7px;
}

#Profile main p {
  width: 200px;
}

/* secound */

#Profile_details {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  height: 564px;
  width: 415px;
  padding: 0px 30px;
  border: 1px solid black;
  margin-left: 20px;
}

#Profile_details header {
  font-size: 25px;
  margin: 9px;
  color: blue;
}

#Profile_details #flex {
  display: flex;
  padding: 10px;
  gap: 10px;
}

#Profile_details #flex input {
  padding: 10px;
}

/* buttons */

#buttons {
  text-align: center;
  align-items: center;
  justify-content: end;
}

.button1 {
  padding: 4px 22px;
  font-size: medium;
  background-color: #000000c9;
  color: #ffffff;
  border-radius: 7px;
}
.button2 {
  padding: 4px 22px;
  font-size: medium;
  background-color: #3916ff;
  color: #ffffff;
  border-radius: 7px;
}

@media only screen and (max-width: 425px) and (min-width: 300px) {
  #Profile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
  }
  #Profile_details {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  #Profile_details #flex {
    margin-left: 120px;
    padding: 12px;
  }
  #Profile_details header {
    margin-left: 132px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 425px) {
  #Profile {
    width: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #Profile_details {
    margin-left: 25px;
  }
  section {
    margin-top: 0px;
  }
  #buttons {
    margin-left: 190px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  section {
    flex-direction: column;
    width: auto;
  }

  #Profile_details {
    margin-top: 10px;
    height: 100%;
  }
  #Profile_details #flex {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 768px) {
  #Profile_details #flex {
    padding: 12px;
  }
  #buttons {
    margin-left: 185px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
